/* Custom CSS Goes Here */

#main-column{ /*Main body of website */
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(64, 47, 163);
}

#about-text {
    /* Aligns "About Me" Text in the center */
    text-align: center;
    }

.display-4 {
    /* Header of webpage */
    color: rgb(156, 50, 177);
}

.lead{
    /* body text */
    color: rgb(255,255,255);
}

.navbar-brand {
    /* Name of website */
    color:rgb(64, 47, 163) !important;
}



