/* Custom CSS Goes Here */

#main-column{ /*Main body of website */
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(64, 47, 163);
}

#list-column{ /*Body of list page */
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(64, 47, 163);
}

#add-column{ /*Body of add page */
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(64, 47, 163);
}

#edit-column{ /*Body of edit page */
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(64, 47, 163);
}

#about-text {
    /* Aligns "About Me" Text in the center */
    text-align: center;
    }

.display-4 {
    /* Header of webpage */
    color: rgb(156, 50, 177);
}

.display-6 {
    /* Header of TV List page */
    color: rgb(156, 50, 177); 
    font-weight: bold !important;
    font-size: 32px !important;
}

.lead{
    /* body text */
    color: rgb(255,255,255);
}

.navbar-brand {
    /* Name of website */
    color:rgb(64, 47, 163) !important;
}



